# 1. On ignore tout par défaut (fichiers persos, Lib/, cache, etc.)
*

# 2. On autorise les scripts Python essentiels
!main.py
!visualisation.py
!utils.py
!process.py
!.gitignore

# 3. Gestion du dossier DATA
!data/

# IMPORTANT : On bloque les fichiers CSV car GitHub refuse les fichiers > 100 Mo
data/*.csv

# On autorise uniquement les fichiers ZIP (pour tes données compressées)
!data/*.zip