# 1. On ignore tout par défaut
*

# 2. On garde les scripts Python
!main.py
!visualisation.py
!utils.py
!process.py
!.gitignore

# 3. Gestion du dossier DATA
!data/

# On bloque les CSV en général (pour éviter le fichier de 127Mo)
data/*.csv

# ON FORCE l'ajout de tes 3 fichiers spécifiques
!data/DatasetFinal.csv
!data/AllMoviesDetailsCleaned.zip
!data/AllMoviesCastingRaw.csv